@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Nabla&family=Outfit:wght@600&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@100;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    position: relative;
    background-color: hsl(47, 88%, 63%) ;
    font-family: 'Figtree', sans-serif;
}

.card {
    height: 522px;
    width: 384px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 8px 8px 0 #000000;
    border: 1px solid #000000;
    padding: 24px;
}

.card .card-image {
    display: flex;
    align-items: center;
    justify-content: center;  
}

.card .card-image img {
    border-radius: 10px;
    
}

.card .content {
    width: 336px;
    height: 194px;
    margin: 24px 0;

}

.card .content .category {
    width: 82px;
    height: 29px;
    background-color: #F4D04E;
    border-radius: 4px;
    padding: 4px 12px;
}

.card .content .category .learning {
    font-size: 14px;
    line-height: 150%;
    color: #111111;
    font-weight:bolder;
}

.card .content .publish-date {
    font-size: 14px;
    line-height: 150%;
    color: #111111;
    font-weight:medium;
    padding: 12px 0;
}

.card .content .title {
    font-size: 24px;
    line-height: 150%;
    color: #111111;
    font-weight:bolder;
    padding-bottom: 12px;
    cursor: pointer;

}

.card .content .description {
    font-size: 16px;
    line-height: 150%;
    color: #6B6B6B;
    font-weight:medium;
    padding-bottom: 12px;

}

.card .content .title:hover {
    color: #F4D04E;
}

.card .author {
    height: 32px;
    width: 129px;
}

.card .author img {
    height: 32px;
    width: 32px;
}

.card .author .author-name {
    font-size: 14px;
    line-height: 150%;
    color: #111111;
    font-weight:bolder;
    width: 85px;
    height: 21px;
    float: right;
    padding-top: 8px;
}


